name: Build and release

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - client/**
      - cmd/**
      - internal/**

permissions:
  id-token: write
  contents: read

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    env:
      ENV: "prod"
      CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}

    steps:
      - uses: actions/checkout@v1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          role-to-assume: ${{ secrets.PROD_BUILD_AND_DEPLOY_ROLE }}
          role-session-name: BuildAndDeploy4border0cli
          role-duration-seconds: 1200

      - uses: actions/setup-go@v2
        with:
          go-version: '1.19.1' # The Go version to download (if necessary) and use.
      - run: go version

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-boto3

      - name: Print Versions
        run: |
           go version

      - name: where am i?
        run: |
          pwd
          ls

      - name: Run Make release
        run: |
          make all
          make release
          make release-border0

      - name: Invalidate CloudFront cache for download.border0.com
        run: |
          aws cloudfront create-invalidation --distribution-id ${CLOUDFRONT_DISTRIBUTION_ID} --paths "/*"

      - name: See dist bin directory
        run: |
          ls -la bin
          pwd
